<div data-controller="task-filter">
<%= @project.title %>
<div class="my-3">
  <%= link_to "Create New Task", project_path(@project, create: true), class: "btn btn-primary", method: :get, remote: true %>
</div>
<div data-task-filter-project-id-value="<%= @project.id %>" class="my-3">
  <%= form_with(url: @project, method: "get", data: { action: "submit->task-filter#searchTags"}, class: "form-inline") do |tf| %>
    <div class="form-group mr-3">
      <%= tf.label :tag_name, "Tag", class: "mr-2" %>
      <%= tf.text_field :tag_name, class: "form-control-sm" %>
    </div>
    <%= tf.submit "Search", class: "btn", style: "background-color: #d96d00; color: #fff" %>
  <% end %>
</div>




  <div id="scroll" data-task-filter-target="list">
    <% @tasks.each do |task| %>
      <%= link_to project_path(@project, task_id: task.id), method: :get, remote: true, style: "text-decoration: none;" do %>
        <div class="d-flex row">
          <div class="d-flex col">
            <div class="tasks_cards row" id="scroll_task_ind">
              <% if task.done? %>
                <div class="d-flex align-content-center align-items-center">
                  <h3><%= task.title.capitalize %></h3>
                  <i class="fa-solid fa-check ms-3" style="color: #ffa200;"></i>
                </div>
              <% else %>
                <h3><%= task.title.capitalize %></h3>
              <% end %>
                <div class="col-8 h-100">
                  <p>Description:  <%= task.content %> Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum dolor rem veniam sint quaerat error dolores hic esse rerum aliquid saepe, quisquam, ipsum officiis labore quidem unde accusamus eaque.</p>
                </div>
                <div class="d-flex col-4 h-100">
                  <p class="tags">
                    <%array_of_tags = []%>
                    <%array_of_tags << task.tags.split(" ")%>
                    <%array_of_tags.map do |tag| %>
                    Tags: #<%=tag%></p>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


</div>
