<div>
  <div class="d-flex pt-1 mt-2" id="search-div">
    <%= form_with(url: @project, method: "get", class: "form-inline") do |tf| %>
      <div class="form-group mr-3">
        <%= tf.label :tag_name, "Tag", class: "mr-2" %>
        <%= tf.text_field :tag_name, class: "form-control-sm" %>
      </div>
       <%= tf.submit "Search tags", class:"form-btn", data: {toggle: "tooltip"}, title: "Search" %>
    <% end %>
  </div>
    <% if @dot.present? %>
      <div data-controller="new-task" class="justify-content-center">
        <div class=" container row align-items-center">
          <div class="d-flex align-items-center my-3" id="add_task">
            <div class="task_back_btn mt-2 ms-4">
              <%= link_to  '<i class="fa-solid fa-chevron-left fs-4" style="color: #ffa200;"></i>'.html_safe,  project_path(@project, back: true) %>
            </div>
            <button data-action="click->new-task#toggleForm" class="form-btn mt-2 ms-3">Add task for this dot</button>
          </div>
        </div>
          <body class="bg-gradient-primary">
            <div class="container d-none" data-new-task-target="form">
              <div class="row justify-content-center">
                <div class="col-md-9 col-lg-12 col-xl-10">
                  <div class="card o-hidden border-0 my-5 orange-shadow">
                    <div class="card-body p-0">
                      <div class="row">
                        <div class="p-5">
                          <div>
                            <%= simple_form_for([@dot, Task.new], method: :post) do |f| %>
                              <%= f.input :title %>
                              <%= f.input :content %>
                              <%= f.input :photo, as: :file %>
                              <%= simple_fields_for :tags do |t| %>
                                <%= t.input :tags %>
                              <% end %>
                            <%= f.submit "Add task for this dot", class: "form-btn" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </body>
      </div>
    <% end %>

  <div id="scroll">
      <% @tasks.sorted_tasks_by_done.each do |task| %>
        <%= link_to project_path(@project, task_id: task.id), method: :get, remote: true, style: "text-decoration: none;" do %>
          <div class="d-flex row">
            <div class="d-flex col">
              <div class="tasks_cards row" id="scroll_task_ind">
                <div class="d-flex justify-content-between">
                  <div  id="title-description">
                    <% if task.done? %>
                      <div class="d-flex align-items-center border-bottom">
                        <h3 class="me-1 mt-2"><%= task.title.capitalize %></h3>
                        <span class="badge rounded-pill text-bg-success text-white me-1">Done</span>
                        <i class="fa-solid fa-check-circle fs-5" style="color: #00b894;"></i>
                      </div>
                    <% else %>
                    <div class="d-flex align-items-center border-bottom">
                      <h3 class="me-1 mt-2">
                      <%=task.dot.id %> -
                      <%= task.title.capitalize %>
                      </h3>
                      <span class="badge rounded-pill text-bg-warning text-white me-1">Pending</span>
                      <i class="fa-solid fa-person-digging" style="color: #ffa200;"></i>
                    </div>
                    <% end %>
                    <div class="h-100">
                      <div class="m-2" style="color: darkslategrey;">
                        <h6>
                          Floor: <%=task.dot.plan.floor.number %>
                          - <%=task.dot.plan.stage %> Floor Plan
                        </h6>
                      </div>
                      <p>
                        <%=task.content %>
                      </p>
                    </div>
                  </div>
                  <div class="d-flex">
                    <p class="tags">
                      <%= task.formatted_tags_with_hashtag %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
