
<div id="scroll">
<%= simple_form_for [@project.floors.first.plans.first.dots.first, Task.new] do |f| %>
      <%= f.input :title %>
      <%= f.input :tags %>
      <%= f.input :content %>
        <%= f.input :photo, as: :file %>
      <%= f.submit %>
  <% end %>

  <% @project.tasks.each do |task| %>

    <div class="tasks_cards row">
      <div class="col-8 h-100">
        <h3> title: <%= task.title.capitalize %></h3>

      </div>
      <div class="col-4 h-100">
        <p id="tags"> tags: <%=task.tags%></p>
        <p>content:  <%=task.content%> </p>
      </div>
    </div>
  <% end %>
</div>
