
<div id="scroll">
  <% @project.tasks.each do |task| %>
    <%= link_to project_path(@project, task_id: task.id), method: :get, remote: true, style: "text-decoration: none;" do %>
      <div class="tasks_cards row">
        <div class="col-8 h-100">
          <h3><%= task.title.capitalize %></h3>
        </div>
        <div class="col-4 h-100">
          <p class="tags">
            <%array_of_tags = []%>
            <%array_of_tags << task.tags.split(" ")%>
            <%array_of_tags.map do |tag| %>
            Tags: #<%=tag%></p>
           <% end %>
          <p>Content:  <%=task.content%> </p>
          <p> <%= task.done %> </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
