<div data-controller="task-filter">
<%= @project.title %>
<div data-task-filter-project-id-value="<%= @project.id %>" class="d-flex my-3">
  <div class="d-flex my-3">
    <%= form_with(url: @project, method: "get", data: { action: "submit->task-filter#searchTags"}, class: "form-inline rounded-left") do |tf| %>
      <div class="input-group">
        <%= tf.label :tag_name, "Tag ", class: "input-group-prepend" %>
        <%= tf.text_field :tag_name, class: "form-control form-control-sm rounded-5 border-1 bg-white", placeholder: "Search for tags" %>
        <%= tf.submit "Search", class: "btn btn-custom rounded-5 ml-1", style: "border-color: #d98600; background-color: #d98600;" %>
        
          <%= link_to "+", project_path(@project, create: true), class: "btn btn-primary rounded-5", method: :get, remote: true %>
        
      </div>
    <% end %>
  </div>
</div>




  <div id="scroll" data-task-filter-target="list">
    <% @project.tasks.sorted_tasks_by_done.each do |task| %>
      <%= link_to project_path(@project, task_id: task.id), method: :get, remote: true, style: "text-decoration: none;" do %>
        <div class="d-flex row">
          <div class="d-flex col">
            <div class="tasks_cards row" id="scroll_task_ind">
              <% if task.done? %>
                <div class="d-flex align-content-center align-items-center">
                  <h3><%= task.title.capitalize %></h3>
                  <i class="fa-solid fa-check ms-3" style="color: #ffa200;"></i>
                </div>
              <% else %>
                <h3><%= task.title.capitalize %></h3>
              <% end %>
                <div class="col-8 h-100">
                  <p>Description:  <%= task.content %> Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum dolor rem veniam sint quaerat error dolores hic esse rerum aliquid saepe, quisquam, ipsum officiis labore quidem unde accusamus eaque.</p>
                </div>
                <div class="d-flex col-4 h-100">
                  <p class="tags">
                    Tags:
                    <%= task.formatted_tags_with_hashtag %>
                  </p>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


</div>
