<div class="header bg-white">
  <div class="logo bg-white">
    <%= link_to "DEVELOMANAGER", root_path %>
  </div>

  <div class="menu bg-white align-items-center mt-3">
    <% if current_user %>
      <% if @project %>
        <div>
        <p class="fs-5 me-5 mt-2"><%= @project.title%></p>
        </div>
      <% end %>
      <div class="dropdown bg-white">
        <button class="title link bg-white m-0 p-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <p style="margin-bottom: 0 !important;">My Projects</p>
          <div class="bar"></div>
        </button>
        <ul class="dropdown-menu">
        <div class="d-flex col">
          <% current_user.project_users.each do |project_user| %>
            <div>
              <li class="d-flex align-items-center">
                <%= link_to project_user.project.title, project_user.project, class: "dropdown-item" %>
                <%= link_to  '<i class="fa-solid fa-pencil text-black"></i>'.html_safe, edit_project_path(project_user.project), class: "dropdown-item" %>
              </li>
            </div>
          <% end %>
        </div>
          <li>
            <%= link_to "Create new project", new_project_path, class: "dropdown-item" %>
          </li>
        </ul>
      </div>
      <div id="logout-btn p-0">
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "link" do %>
          <div class="title">Log out</div>
          <div class="bar"></div>
        <% end %>
      </div>

    <% else %>
      <%= link_to new_user_session_path, class: "link" do %>
        <div class="title">Log in</div>
        <div class="bar"></div>
      <% end %>
    <% end %>
  </div>
</div>
