<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card o-hidden border-0 my-5 orange-shadow">
          <div class="card-body p-0">
            <div class="row">
              <div class="p-5">
                <div class="text-center">
                      <h2>Log in</h2>
                </div>
                  <div class="class=mb-3">
                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
                      <div class="form-inputs form-control-user">
                        <%= f.input :email,
                                    required: false,
                                    autofocus: true,
                                    input_html: { autocomplete: "email" } %>
                        <%= f.input :password,
                                    required: false,
                                    input_html: { autocomplete: "current-password" } %>
                        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                      </div>
                      <div>
                        <input type="submit" name="commit" value="Log in" data-disable-with="Log in" class="form-btn">
                      </div>
                    <% end %>
                  <div class="justify-content-center">
                    <%= render "devise/shared/links" %>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
