<div>
  <% @project.floors.each do |floor| %>
    <div id="map-floor<%= floor.number %>" data-maps-target="mapFloors">
      <% floor.plans.each do |plan| %>
        <div id="map-plan-<%= plan.stage %>">
          <p><%= plan.floor.number %></p>
          <p><%= plan.stage %></p>
          <% if plan.photo.attached? %>
            <%# PLAN PHOTO %>
            <%= cl_image_tag plan.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= simple_form_for plan, remote: true, url: floor_plan_path(plan), method: :patch do |f| %>
              <%= f.input :photo, as: :file %>
              <%= f.submit %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
