<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div >
  <% @project.floors.each do |floor| %>
    <div  id="map-floor<%= floor.number %>" data-maps-target="mapFloors">
      <% floor.plans.each do |plan| %>
        <div class="d-none" id="map-plan-<%= plan.stage %>">
          <%=floor.number%>
          <%=plan.stage%>
          <% plan.photo %>
          <% if plan.photo.attached? %>
            <div id="button-container">
              <%= button_to "+", plan_dots_path(plan), method: :post, class:"dot-btn" %>
              <% plan.dots.each do |dot|%>
                <button class="dotbutton" id="dotbutton<%=dot.id%>">dot-<%=dot.id%></button>
              <% end %>
                <%= cl_image_tag plan.photo.key, height: 300, width: 400, crop: :fill %>
            </div>
              <%= simple_form_for [floor,plan], remote: true,  method: :patch do |f| %>
                <%= f.input :photo, as: :file %>
                <%= f.submit %>
              <% end %>
          <% else %>
            <%= simple_form_for [floor,plan], remote: true,  method: :patch do |f| %>
              <%= f.input :photo, as: :file %>
              <%= f.submit %>
          <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
