<div class="mt-5">
  <div class="task_back_btn mb-2"><%= link_to  '<i class="fa-solid fa-chevron-left fs-4" style="color: #ffa200;"></i>'.html_safe,  project_path(@project, back: true) %></div>
  <%= simple_form_for(task, url: dot_task_path(task.dot, task), method: :patch) do |f| %>
    <%= f.input :title %>
    <%= f.input :tags %>
    <%# <%= f.input :content %>
  <label for="message" class="label-message">Content</label>
  <textarea id="message" name="message" cols="75" rows="5" maxlength="600" class="field field-message"></textarea>
    <%= f.input :done, as: :boolean  %>
    <%# <%= f.submit  %>
     <input type="submit" name="commit" value="Update task" data-disable-with="Log in" class="form-btn">
  <% end %>
</div>
