<div class="task_box">
  <div class="task_header">
    <div class="task_action_btn">
      <div class="task_back_btn"><%= link_to  '<i class="fa-solid fa-chevron-left fs-4" style="color: #ffa200;"></i>'.html_safe,  project_path(@project, back: true) %></div>
      <div class="task_edit_btn"><%= link_to  '<i class="fa-solid fa-pencil fs-4" style="color: #ffa200;"></i>'.html_safe,  project_path(@project, edit: true, task_id: task.id) %>
    </div>
  </div>
  <div class="filler">
  </div>
  <div class="tasks_cards" id="scroll_task">

    <div class="task">
      <h2><%= task.title %></h2>
      <div class="tasks_tags border-bottom">
        <h4><%= task.formatted_tags_with_hashtag %></h4>
      </div>
      <div class="task_content">
        <h5><%= task.content %></h5>
      </div>
      <div class="task_content">
       <h5><%task.id%></h5>
      </div>

    </div>
  </div>
</.div>
