<%# This is hardcoded, we are always creating a task for the first dot of the plan %>
<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card o-hidden border-0 my-5 orange-shadow">
          <div class="card-body p-0">
            <div class="row">
              <div class="p-5">
                <div class="text-center">
                  <h2>New task</h2>
                </div>
                  <%= simple_form_for(task, url: dot_task_path(@dot, task), method: :post) do |f| %>
                    <%= f.input :title %>
                    <%= f.input :content %>
                    <%= f.input :photo, as: :file %>
                    <%= f.label :tags, "Tags (comma-separated)" %>
                    <%= f.text_field :tag_names, value: task.formatted_tags %>
                    <%= f.input :done, as: :boolean  %>
                    <%= f.label :user_ids, "Select the users you want to add: ctl + select" %>
                    <%= f.collection_select :user_ids, @project.project_users.map { |project_user| project_user.user }, :id, :email, {}, { multiple: true, class: "form-control" } %>
                    <%= f.submit "Create Task", class: "form-btn" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
