<div classs="card" id="task_show_card row">
  <div class="card_edit col-8 h-100">
    <h1 class="card-subtitle mb-2 text-muted"><%= task.title %></h1>
    <h2><%= task.tags %></h2>
    <p class="card-text"><%= task.content %></p>
    <div class="d-flex justify-content-between">
      <%= link_to "back", project_path(@project, back: true), method: :get, remote: true %>
      <%= link_to "edit", project_path(@project, edit: true, task_id: task.id), method: :get, remote: true %>
    </div>
  </div>
</div>
<div class="card task-show-card">
  <div class="card-body">
    <h5 class="card-title"><%= task.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= task.tags %></h6>
    <p class="card-text"><%= task.content %></p>
    <div class="d-flex justify-content-between">
      <%= link_to "back", project_path(@project, back: true), method: :get, remote: true, class: "btn btn-secondary" %>
      <%= link_to "edit", project_path(@project, edit: true, task_id: task.id), method: :get, remote: true, class: "btn btn-primary" %>
    </div>
  </div>
</div>
