<div class="task_box">
  <div class="task_header">
    <div class="task_action_btn">
      <div class="task_back_btn"><%= link_to  '<i class="fa-solid fa-chevron-left fs-4" style="color: #ffa200;"></i>'.html_safe,  project_path(@project, back: true) %></div>
      <div class="task_edit_btn"><%= link_to  '<i class="fa-solid fa-pencil fs-4" style="color: #ffa200;"></i>'.html_safe,  project_path(@project, edit: true, task_id: task.id) %>
    </div>
  </div>
  <div class="filler">
  </div>
  <div class="tasks_cards" id="scroll_task">

    <div class="task">
      <div class="task_title d-flex justify-content-between align-items-center">
        <h2><%= task.title %></h2>
        <div class="task_status d-flex align-items-center">
          <% if task.done? %>
            <span class="badge rounded-pill text-bg-success text-white me-1">Done</span>
            <i class="fa-solid fa-check-circle fs-5" style="color: #00b894;"></i>
          <% else %>
            <span class="badge rounded-pill text-bg-warning text-white me-1">Pending</span>
            <i class="fa-solid fa-person-digging" style="color: #ffa200;"></i>
          <% end %>
        </div>
      </div>
      <div class="tasks_tags border-bottom">
        <h4><%= task.formatted_tags_with_hashtag %></h4>
      </div>
      <div class="task_content d-flex justify-content-between mt-4">
        <div class="me-3">
          <% if task.photo.attached? %>
            <%= cl_image_tag task.photo.key, class: "task_photo", height: 200, width: 200, crop: :fill %>
          <% else %>
            <%= simple_form_for([task.dot, task], method: :patch, local: true) do |f| %>
              <%= f.input :photo, as: :file, label: false, input_html: { class: "form-control" } %>
              <%= f.submit "Add a photo", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
        <div>
          <h6><%= task.content %></h6>
          <%= form_with model: UserTask.new, url: task_user_tasks_path(task), method: :post, local: true do |f| %>
            <%= f.hidden_field :task_id, value: task.id %>
            <%= f.select :user_id, User.all.map { |user| [user.email, user.id] }, { include_blank: "Manage Users:" }, class: "form-control" %>
            <%= f.submit "Add User", class: "btn-user-tasks" %>
          <% end %>
        </div>
      </div>
      <div>
        <h3>Collaborators:</h3>
        <% if task.user_tasks.empty? %>
          <p>No collaborators yet</p>
        <% else %>
          <table>
            <thead>
              <tr>
                <th>Users</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% task.user_tasks.each do |user_task| %>
                <tr>
                  <td><%= user_task.user.email %></td>
                  <td>
                    <%= button_to "Remove", user_task_path(user_task), method: :delete, data: { confirm: "Are you sure?" } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
