<div class="task">
  <h3><%= task.title %></h3>
  <div class="tasks">
    <h4><%= task.tags %></h4>
  </div>
  <div class="overflow-scroll">
    <h5><%= task.content %></h5>
  </div class="justify-content-between">
    <%= link_to  '<i class="fa-solid fa-chevron-left fs-4" style="color: #ffa200;"></i>'.html_safe,  project_path(@project, back: true) %>
    <%= link_to  '<i class="fa-solid fa-pencil fs-4" style="color: #ffa200;"></i>'.html_safe,  project_path(@project, edit: true, task_id: task.id) %>
</div>
